.header{
    font-family: var(--fonte-titulo);
    color: white;
    padding: 15px;
}

.section-titulos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}

.lista-links{
    list-style-type: none;
    display: flex;
    
}

.div-titulo{
    padding-left: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.icone-titulo{
    background-color: var(--cor-vermelho);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.6rem;
    padding: 10px;
    border-radius: 10px;
}

.div-titulo h1{
    font-size: 2.6rem;
}

.links{
    position: relative;
    margin-right: 30px;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}

.link-titulo{
    color: white;
    text-decoration: none;
}

.links::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--cor-vermelho);
    transition: width .3s ease;
}

.links:hover::after{
    width: 100%;
}


.section-form{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.form{
    display: flex;
    align-items: center;
    background-color: #1F1F1E;
    padding: 11px;
    border-radius: 10px;
    width: min(650px, 90%);
    border: 1px solid var(--cor-borda);
    position: relative;
    transition: .3s;
}

.form:focus-within{
    border-color: var(--cor-vermelho);
    box-shadow: 0 0 15px rgba(255, 59, 92, .20s);
}

.icone-input{
    position: absolute;
    color: grey;
    left: 15px;;
    top: 28%;
}

.form input{
    background-color: #30302E;
    border: 1px solid var(--cor-borda);
    width: 100%;
    max-width: 600px;
    padding: 14px 12px 12px 30px;
    border-radius: 10px;
    
    color: white;
}

.form input::placeholder{
    font-weight: bolder;
}

.form input:focus{
    background-color: white;
    color: black;
    outline: none;

}

.form button{
    border: none;
    background: none;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    border-left: 1px solid var(--cor-borda);
    padding-left: 10px;
    height: 100%;
}

.erro-filme{
    text-align: center;
    margin-top: 20px;
}

